<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" rel="../css" </head>
    <div id="app">
        <input v-model="enterinput" v-on:keyup.enter="addli" placeholder="wirte li info">
        <ul>
            <li is='tem-li' v-for="(li,index) in lis" v-bind:litext="li" v-on:remove="lis.splice(index,1)"></li>
        </ul>
    </div>

    <body>
        <script src="../js/vue-2.2.0.js"></script>
        <script>
            Vue.component('tem-li', {
                props: ['litext'],
                template: '<li>{{litext}}<button v-on:click="$emit(\'remove\')">X</button></li>'
            })
            var vm = new Vue({
                el: '#app',
                data: {
                    enterinput: '',
                    lis: ['list1', 'gist2', 'fosrs2']
                },
                methods: {
                    addli: function() {
                        this.lis.push(this.enterinput);
                        this.enterinput = '';
                    }
                }
            });
        </script>
    </body>


</html>